/*Tout*/

body{
    padding:0;
    margin:0;
}

/*barre*/

ul {
    position: fixed;  
    top:0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222222;
    grid-row: 1;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.presentation{
    text-decoration: none;
    background-color: #222222;
    border-radius: 5px;
    margin-top:25px;
    margin-right: 10px;
    margin-left: 180px;
    grid-column: 2;
    border-style: solid;
    border-width:1px;
    border-color: antiquewhite;
}

.presentation:hover{
    background-color:#F7F7F7;
    color: #222222;
    border-style: solid;
    border-color:#222;
    border-width:1px;
}


.stock {
    text-decoration: none;
    background-color: #222222;
    border-color: antiquewhite;
    border-radius: 5px;
    margin-top:25px;
    margin-right: 10px;
    grid-column: 3;
    border-style: solid;
    border-width:1px;
}

.stock:hover{
    background-color:#F7F7F7;
    color: #222222;
    border-style: solid;
    border-color:#222;
    border-width:1px;
}

.contact {
    text-decoration: none;
    background-color: #222222;
    border-color: antiquewhite;
    border-radius: 5px;
    margin-top:25px;
    margin-right: 10px;
    grid-column: 4;
    border-style: solid;
    border-width:1px;
}

.contact:hover{
    background-color:#F7F7F7;
    color: #222222;
    border-style: solid;
    border-color:#222;
    border-width:1px;
}

.ntel{
    text-decoration: none;
    background-color: #222222;
    border-radius: 5px;
    color: #FFFFFF;
    margin-left: 500px;
    grid-column: 5;
}

/*acceuille*/

.barren{
    height:50px;
    width: 100%;
    background-color:#111;
}

.pa {
    background-image: url("stock.jpg");
    background-size: 100%;
    background-position:bottom;
    background-attachment: fixed; 
    display:grid;
    grid-template-rows: 10% 15% 50% 18% 7%;
    font-family: "Lato","Avenir Next",sans-serif;
}

.card {
    background-color: #FFFFFF;
    height: 270px;
    width:350px;
    border-radius:10px;
    text-align: center;
    margin-left: 80vh;
    margin-top:15vh;
    margin-bottom: 15vh;
    grid-row: 2;
}

.nt{
    text-decoration: none;
    color: #222222;
}

.pr {
    color:#F7F7F7;
    text-decoration: none;
    background-color: #222222;
    border-color: antiquewhite;
    border-radius: 5px;
    margin-top:25px;
    margin-right: 10px;
    padding:7px;
    grid-column: 4;
    border-style: solid;
    border-width:1px;
}

.pr:hover{
    background-color:#F7F7F7;
    color: #222222;
    border-style: solid;
    border-color:#222;
    border-width:1px;
}

.st {
    color:#F7F7F7;
    text-decoration: none;
    background-color: #222222;
    border-color: antiquewhite;
    border-radius: 5px;
    margin-top:25px;
    margin-right: 10px;
    padding:7px;
    grid-column: 4;
    border-style: solid;
    border-width:1px;
}

.st:hover{
    background-color:#F7F7F7;
    color: #222222;
    border-style: solid;
    border-color:#222;
    border-width:1px;  
}

.ct{
    color:#F7F7F7;
    text-decoration: none;
    background-color: #222222;
    border-color: antiquewhite;
    border-radius: 5px;
    margin-top:25px;
    margin-right: 10px;
    padding:7px;
    grid-column: 4;
    border-style: solid;
    border-width:1px;
}

.ct:hover{
    background-color:#F7F7F7;
    color: #222222;
    border-style: solid;
    border-color:#222;
    border-width:1px;
}

.citation{
    grid-row: 4;
    font-family: "Lato","Avenir Next",sans-serif;
}

.cit{
    margin-left: 650px;
    margin-top: 300px;
    text-align: center;
    font-size: 35px;
    color:#FFFFFF;
    background-color: #564E44;
    padding-left:25px;
    padding-right:25px;
    opacity: 0.9;
}

.qui {
    margin-left: 850px;
    text-align: center;
    color:#FFFFFF;
    background-color: #222222;
    padding-left:25px;
    padding-right:25px;
}

/*présentation*/

.pp {
    background-color:#F7F7F7;
    grid-template-rows: 20% 50% 30%;
    font-family: "Lato","Avenir Next",sans-serif;
    margin:0;
}

.acceuille{
    grid-column: 1;
}



.info{
    grid-row:2;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 10% 25% 20% 15% 30%;
    text-align: center;
    font-size: 20px;
    text-align: left;
    width:400px;
    margin-left:35%;
}

.title{
    margin-top: 225px;
    grid-row:1;
    grid-column: 2;
    text-align: right;
}

.image {
    grid-row:2;
    grid-column: 2;
    margin-left:30px; 
}

.p1 {
    grid-row:3;
    grid-column: 2;
    text-align: left;
    width:585px;
}

.p2 {
    grid-row:4;
    grid-column: 2;
    text-align: left;
    margin-left:40px;
    width:585px;
}

.p3 {
    grid-row:5;
    grid-column: 2;
    text-align: left;
    width:585px;
    margin-left:-40px;
    margin-bottom: -240px;
}

.lien{
    background-color: #222222;
    border-radius: 5px;
    color: #F7F7F7;
    padding:4px;
    text-decoration: none;
}

.lien:hover{
    background-color:#F7F7F7;
    color: #222222;
    border-style: solid;
    border-color:#222;
    border-width:1px;
}

/* contact */

.c {
    margin-top:100px;
    margin-left:260px;
    display:grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 25% 50% 25%;
    font-family: "Lato",sans-serif;
    font-size: 16px;
}

.titre{
    grid-row: 1;
    grid-column: 2;
    font-family: "Lato";
    margin-left:230px;
    margin-top:90px;
}

.texte {
    grid-row: 2;
    grid-column: 2;
    font-weight: 400;   
    margin-bottom: -250px;
}

h1{
    font-weight: 400;
}

h3{
    font-size: 22px;
}

/*Stock*/

a{ 
    
}

.recherche{
    background-color: #F7F7F7;
    text-align: center;
    /* grid-row:3; */
    margin-bottom: 300px;
}

.stocka{
    /* text-decoration: none;
    color:#f7f7f7; */
    margin-top:100px;
    text-align:center;
    background-color:#f7f7f7;
    margin-bottom:100px;
}

.image{
    background-color:#f7f7f7;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6, 16%);
      
}

a{
    text-decoration: none;
    color:#F7F7F7;
}

.ima{
    text-decoration: none;
    color:#222; 
}

.img1{
    width: 255px;
    text-decoration: none;
    background-color: #222222;
    border-radius: 10px;
    margin-top:25px;
    margin-right: 10px;
    border-style: solid;
    border-width:5px;
    transition: all .2s ease-in-out;
}

.img1:hover{
    transform: scale(2, 2);
    transition: transform 1s;
    overflow: hidden;
    vertical-align: middle;
}

.img2{
    width: 255px;
    text-decoration: none;
    background-color: #222222;
    border-radius: 10px;
    margin-top:25px;
    margin-right: 10px;
    border-style: solid;
    border-width:5px;
}

.img2:hover{
    transform: scale(2, 2);
    transition: transform 1s;
    overflow: hidden;
}

.img3{
    width: 255px;
    text-decoration: none;
    background-color: #222222;
    border-radius: 10px;
    margin-top:25px;
    margin-right: 10px;
    border-style: solid;
    border-width:5px;
}

.img3:hover{
    transform: scale(2, 2);
    transition: transform 1s;
    overflow: hidden;
}

.img4{
    width: 255px;
    text-decoration: none;
    background-color: #222222;
    border-radius: 10px;
    margin-top:25px;
    margin-right: 10px;
    border-style: solid;
    border-width:5px;
}

.img4:hover{
    transform: scale(2, 2);
    transition: transform 1s;
    overflow: hidden;
}

.img5{
    width: 255px;
    text-decoration: none;
    background-color: #222222;
    border-radius: 10px;
    margin-top:25px;
    margin-right: 10px;
    border-style: solid;
    border-width:5px;
}

.img5:hover{
    transform: scale(2, 2);
    transition: transform 1s;
    overflow: hidden;
}

.img6{
    width: 255px;
    text-decoration: none;
    background-color: #222222;
    border-radius: 10px;
    margin-top:25px;
    margin-right: 10px;
    border-style: solid;
    border-width:5px;    
}

.img6:hover{
    transition: transform 1s;
    overflow: hidden;
    transform: scale(2, 2);
}

.cata {
    margin-bottom: 70px;
    text-align: center;
    background-color:#f7f7f7;
    text-decoration: none;
}

.grid{
    display:grid;
    grid-template-rows: 50% 30% 10% 10%;
    grid-template-columns: 50% 50%;
}

.imgB{
    margin-top:20vh;
    margin-left: 10vw;
    grid-row-start:1;
    grid-row-end:2;
    grid-column:1; 
}

.descrip{
    margin-right: 10vw;
    margin-top: 10vh;
    grid-row: 1;
    grid-column: 2;
    display:grid;
    grid-template-rows: 20% 80%;
}

.titre{
    grid-row: 1;
    text-align: center;
}

.des{
    grid-row: 2;
    text-align: left;
}

.imgM{
    text-align:center;
    grid-row: 2;
    grid-column:2;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap:1px;
    height: auto;
}

.min1{
    grid-row:1;
    grid-column: 1;
    height:125px;
    width: 125px;
    background-color: #868383;
    padding:5px;
    border-style: solid;
    border-width:1px;
}

.min2{
    grid-row:1;
    grid-column: 2;
    height:125px;
    width: 125px;
    background-color: #868383;
    padding:5px;
    border-style: solid;
    border-width:1px;
}

.min3{
    grid-row:1;
    grid-column: 3;
    height:125px;
    width: 125px;
    background-color: #868383;
    padding:5px;
    border-style: solid;
    border-width:1px;
}

.min4{
    grid-row:1;
    grid-column: 4;
    height:125px;
    width: 125px;
    background-color: #868383;
    padding:5px;
    border-style: solid;
    border-width:1px;
}

.min5{
    grid-row:2;
    grid-column: 1;
    height:125px;
    width: 125px;
    background-color: #868383;
    padding:5px;
    border-style: solid;
    border-width:1px;
}

.min6{
    grid-row:2;
    grid-column: 2;
    height:125px;
    width: 125px;
    background-color: #868383;
    padding:5px;
    border-style: solid;
    border-width:1px;
}

.min7{
    grid-row:2;
    grid-column: 3;
    height:125px;
    width: 125px;
    background-color: #868383;
    padding:5px;
    border-style: solid;
    border-width:1px;
}

.min8{
    grid-row:2;
    grid-column: 4;
    height:125px;
    width: 125px;
    background-color: #868383;
    padding:5px;
    border-style: solid;
    border-width:1px;
}

.ap{
    grid-row:4;
    grid-column:1;
    text-align:inline;
    display: inline;
}

.error{
    text-align: center;

    margin-top:100px;
}

/*information*/

.information{
    margin:0;
    padding:40px;
    margin-top:300px;
    background-color: #222222;
    text-align:center;
    color:#FFFFFF;
    text-decoration: none;
    grid-row:5;
}


.link{
    color: #FFFFFF;
    text-decoration-style: dotted;  
}


@media screen and (max-width: 1280px) {
    .card{
        margin-left:40vw;
    }

    h1{
        margin-right:30vw;
    }

    .input{
        margin-right: 25vw;
    }

    .cata {
        margin-right:20vw;
    }

    .citation{
        margin-right:20vw;
    }

    .cit{
        margin-left:350px;
    }

    .qui{
        margin-left:550px;

    }
}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1280px) {

}